nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    width: 100vh;
    border-style: solid;
    border-color: bisque;
}


ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navIndexItem {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color: white;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navImageItem {
    width: 4rem;
    height: 4rem;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    border-style: solid;
    border-color: beige;
}

.divNets {
    display: flex;
    justify-content: left;
}